/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 Aug 2026, 15:09:50
    Author     : hebebebebe
*/

#home-banner{
    text-align: center;
}

#products-container{
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: repeat(2, 15rem);
    gap: 16px;
    justify-content: center;
}

.product{
    border: black 2px solid;
    text-align: center;
}

.footer-text{
    text-align:center;
}

/*create account page*/
#form-container{
  min-width: 15rem;
  max-width: 50rem;
  margin-inline: auto;
}
#account-details{
  display: grid;
  gap: 0.5em;
  grid-template-columns:fit-content(10em) 1fr;
}

#account-details legend,
#account-details p{
  grid-column: 1 / -1;
}